<div class="container login-background h-100">
  <div style="display: flex; justify-content: center; height: 100%">
    <div class="centered-form">
      <form>
        <div style="max-width: 600px;">

          <div class="row justify-content-center align-items-center">

            <mat-form-field>
              <mat-label>User</mat-label>
              <input matInput>
            </mat-form-field>


            <div class="top-separator-med">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="top-separator-med">
            <button class="w-button" mat-raised-button color="primary">Sign in</button>
          </div>

          <div class="top-separator-big">
            <a href="www.google.es">
              Forgot password
            </a>
          </div>

          <div class="top-separator-big">
            <mat-divider></mat-divider>
          </div>

          <div class="top-separator-big">
            <button class="w-button" mat-stroked-button>Create Account</button>
          </div>

        </div>
      </form>
    </div>

  </div>

</div>


